POSTGRES_HOST=postgres_chatwoot
POSTGRES_PORT=5432
POSTGRES_USERNAME=chatwoot
POSTGRES_PASSWORD=chatwoot
POSTGRES_DB=chatwoot_production
REDIS_URL=redis://redis:6379/1
RAILS_ENV=production
SECRET_KEY_BASE=ALTERE_AQUI
CHATWOOT_BAILEYS_ENABLED=true
